@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    width: 50rem;
}

:root{
    --primary-color: #0066CC;
    --secondary-color: #5CADFF;
    --accent1-color: #ffda9e;
    --accent2-color: #e29a26;

    --heading-font: 'Roboto Serif', serif;
    --paragraph-font: "Source Serif 4", serif;
    
    --nav-background-color: #ffffff;
    --nav-link-color: #72b9ff;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #83c4de;

    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.logo{
    width: 20rem;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
}

div .hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
article{
    position: absolute;
}
h1{
    position: absolute;
}
section img{
    float: left;
}