@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


:root{
    --primary-color: #0066CC;
    --secondary-color: #5CADFF;
    --accent1-color: #ffda9e;
    --accent2-color: #e29a26;

    --heading-font: 'Roboto Serif', serif;
    --paragraph-font: "Source Serif 4", serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #72b9ff;
    --nav-hover-link-color: #5087fd;
    --nav-hover-background-color: #83c4de;

    font-family: var(--paragraph-font);    
}

body{
    position: relative;
    margin: 0;
}

.hero-content {
    position: relative;
}

.navigation {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #0066CC;
}


.water {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}
 .entry{
    position: absolute;
    left: 50%;
    top: 125px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.342);
    font-size: 50px;
    padding-left: 100%;
    padding-right: 100%;

}

.intro {
    position: absolute;
    top: 300px;
    padding: 10px;
    margin: 30px;
    background-color: rgba(207, 207, 207, 0.23);
}

#client {
    float: right    ;
    width: 200px;
    height: auto;
}

.hero section p{
    color: white;
}

footer {
    background-color: var(--nav-background-color);
    max-width: 800px;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav a {
    gap: 10px;
    width: auto;
    height: 10px;
}

a{
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 40px;
    font-weight: bold;

}

a:hover{
    color: var(--nav-hover-link-color);
    font-weight: bold;
}


.logo {
    max-width: 125px;
    margin-bottom: 5px;
    margin-top: 5px;

}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

.galery{
    display: flex;

}

.baixo{
    margin-left: 15px;
    margin-right: 15px;
}


figure img{
    width: 250px;
    margin: 0;
}

figure{
    margin: 25px;
}

.mlk{
    height: 167px;
}









.second{
    text-align: center;

}


.history {
    text-align: center;
}

.history-colum {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    width: 50%;
    text-align: justify;
}



.lake{
    width: 15rem;
    margin: 20px;
}

button{
    background-color: #44d0ff;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #44d0ff;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

button:hover{
    background-color: white;
    color:#44d0ff;
    ;  
}

